body {
    background-color:antiquewhite;
    font-family: 'Roboto', sans-serif;
}

#container {
    width: 960px;
    margin: 0 auto;
    font-size: 100%;
}

header {
    background-color: white;
    text-align: center;
}

#logo h1 {
    display: none
}

#logo img {
    margin: 10px
}

#menu {
    padding: 10px;
    margin: 15px 0px;
    font-size: 0.8em;
    background-color: #502d24;
    color: white;
    border: none
}

#menu a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

#menu ul {
    list-style-type: none;
}

#menu li {
    display: inline;
    padding: 15px;
}

main {
    margin: 25px 0;
}

h2, h1 {
    color: #502d24;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 2.5em; 
}

h2 {
    font-size: 1.7em;
}

b {
    font-weight: 900;
}

#onde b {
    display: block;
    margin: 5px 0;
}

caption {
    margin: 20px;
    color: #502d24c5;
    font-weight: bold;
    font-size: 1.7em;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 0.85em;
    margin: 30px 0px;
    line-height: 1.2;
    color: black;    
    font-family: 'Roboto', sans-serif;
}

footer {
    margin: 30px auto;
}

footer p {
    color: rgb(71, 71, 71);
    margin: 0 30px;
    text-align: end;
}

#cardapio {
    margin: 20px auto 20px auto;
    width: max-content;
    
}

td {
    vertical-align: top;
    padding: 5px;
}

tfoot td {
    text-align: center;
    background-color: #dcb0a1;
}

.tipo-de-bebida {
    display: block;
    font-weight: bold;
}

#eventos {
    width: 90%;
    margin: 0 auto;
}

.nome-do-evento {
    font-weight: bold;
    width: 25%;
}

#eventos tbody td {
    padding: 15px;
}

#contato {
    width: 400px;
    height: 275px;
    border: 2px solid #502f26;
    margin: 20px auto;
    background-color: white
}

#contato label {
    display: block;
}

.botao {
    font-weight: bold;
}

#contato div {
    margin: 15px;
}

#contato button {
    display: block;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    justify-content:  space-between;
}

.flex-container h2 {
    text-align: start;
    font-style: italic;
}

#escolha, #onde {
    width: 43%;  
}

#onde a{
    color: #502d24;
}

#escolha img, #onde img {
    float: left
}

#banner {
    position: relative;
    margin: 20px 0;
    
}
#bloco-de-texto {
    position: absolute;
    top: 34%;
    bottom: 34%;
    left: 40px;
    background-color: rgba(80,45,36,0.5);
    color: white;
    border-radius: 80%;
    width: 135px;
    height: 135px;   
    text-align: center;
    justify-content: center;
    font-size: 1.3em;
}

#bloco-de-texto p {
    color: white;
    display: inline-block;
    width: 80%;
}

#banner img {
    margin: 10px 10px;
    border-radius: 10px;
}

#banner p {
    font-size: 0.8em;
}

#movel {
    display: block;
    margin: 5px;
}

#mapa iframe{
    display: block;
    margin: 30px auto;
    width: 600px; 
    height: 450px;
    border: 0;
}